*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rubik', sans-serif;
    /* max-width: 1440px; */
}

main{
    height: calc(100vh - 100px);
}

ul{
    list-style-type: none;
}

button{
    border: none;
}

a{
    text-decoration: none;
}

/* GENERAL */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.strong{
    font-weight: 700;
}

.s-txt{
    font-size: 0.9rem;
}

.m-txt{
    font-size: 1rem;
}

.l-txt{
    font-size: 1.6rem;
}

.white{
    color: white;
}

.grey{
    color: #a3a3a3;
}


/******************** HEADER **************/

/* PARTE SUPERIORE */
header{
    width: 200px;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

header.desktop{
    display: flex;
}

header.mobile{
    display: none;
}

header div.logo{
    height: 70px;
    padding: 15px 0;
}

header div.logo img{
    height: 100%;
}

header nav.user-nav li{
    margin: 0.5rem 0;
}

header nav.user-nav img{
    height: 1.5rem;
    vertical-align: middle;
}

header nav.playlist{
    margin-top: 1.5rem;
}

header nav.playlist li{
    padding: 0.5rem 0;
}

header nav.playlist button{
    background-color: black;
}

header nav.playlist button i{
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #a3a3a3;
    margin-right: 0.5rem;
}

/* PARTE INFERIORE */

header div.bottom button{
    background-color: black;
}

header div.bottom button img{
    height: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    filter: brightness(0.6);
}

header div.bottom a{
    padding-left: 1rem;
}

header div.bottom div.user,
header div.bottom button{
    margin: 0.5rem 0;
}
/******************** CATALOG ****************/

div.catalog{
    width: calc(100% - 200px);
    background-color: #141922;
    overflow: auto;
}

/* UPGRADE */

section.upgrade{
    height: 100px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
}

section.upgrade button{
    background-color: #080b12;
    padding: 0.7rem 2rem;
    margin-right: 5px;
    border: white solid 1px;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 0.7rem;
}

/* UPPER-NAV */

nav.upper-nav ul{
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

nav.upper-nav ul li{
    padding: 1rem 1rem;
}

nav.upper-nav a{
    color: #a3a3a3;
    font-size: 0.8rem;
}

/* TRACKS */

div.tracks{
    padding: 5px;
}

div.tracks h1,
div.tracks p{
    margin: 1.5rem 0;
}

div.tracks li.track{
    text-align: center;
    width: calc((100vw - 230px) / 6);
    padding: 5px;
    position: relative;
}

div.tracks li.track i{
    color: white;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: calc(((100vw - 230px) / 6) / 2);
    transform: translate(-50%, -50%);
    padding: calc((((100vw - 230px) / 6) / 2) - 40px);
    display: none;
}

div.tracks li.track h2,
div.tracks li.track p{
    text-align: center;
    margin: 1rem 0;
}

div.tracks li.track img{
    width: 100%;
}

div.tracks li.track:hover i{
    display: block;
    background-color: rgba(0, 0, 0, 0.534);
}


/******************** FOOTER ****************/

footer{
    height: 100px;
    background-color: #282828;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

footer img{
    height: 50px;
    margin-right: 0.5rem;
}

footer div.track-name{
    align-items: center;
}

footer div.info-track{
    margin-right: 5%;
}

footer div.track-name i{
    font-size: 1rem;
    margin-right: 1rem;
}

footer div.interactive{
    width: 10vw;
}

/* CONTROLS */

footer div.controls{
    width: 33%;
}

footer nav.player{
    padding-bottom: 1rem;
}

footer nav.player ul{
    justify-content: center;
    align-items: center;
}

footer nav.player i{
    font-size: 1.5rem;
    padding: 0 0.5rem
}

footer nav.player i.play{
    font-size: 2rem;
    padding: 0 1rem;
}

footer div.timeline{
    align-items: center;
}

footer div.timeline div.preview{
    width: 100%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 2px;
    margin: 0 1rem;
}

footer div.timeline div.viewed{
    width: 15%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 2px;
}

footer div.options ul{
    align-items: center;
}

footer div.options i{
    font-size: 1rem;
    padding: 0 0.7rem;
}

footer div.options div.volume{
    width: 6vw;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 2px;
}

footer div.options div.user-volume{
    width: 30%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 2px;

}



/* *************** RESPONSIVE **************/

@media screen and (max-width: 878px) {

    /* TRACKS */
    
    div.tracks li.track{
        width: calc((100vw - 230px) / 4);
    }

    div.tracks li.track i{
        top: calc(((100vw - 230px) / 4) / 2);
        padding: calc((((100vw - 230px) / 4) / 2) - 40px);
    }
}

@media screen and (max-width: 639px){

    /* TRACKS */

    div.tracks li.track{
        width: calc((100vw - 230px) / 2);
    }

    div.tracks li.track i{
        padding: calc((((100vw - 230px) / 2) / 2) - 40px);
        top: calc(((100vw - 230px) / 2) / 2);
    }
}

@media screen and (max-width: 552px) {
    /* HEADER */

    header{
        width: 50px;
        padding: 0.7rem;
    }

    header.desktop{
        display: none;
    }

    header.mobile{
        display: flex;
    }

    header.mobile li.logo{
        margin-bottom: 0.7rem;
    }

    header.mobile nav.bottom-mobile img{
        width: 20px;
        margin-bottom: 0.5rem;
    }

    header.mobile nav.bottom-mobile i{
        text-align: center;
        font-size: 1.5rem;
    }

    /* CATALOG */

    div.catalog{
        width: calc(100% - 50px);
    } 

}